.box-editor {
    margin: 0.5rem 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    &__input {
        padding: 1rem 2rem;
        font-size: 2rem;
        width: 20%;
        box-sizing: border-box;
        margin-right: 2rem;
    }
    &__range {
        width: 65%;
        position: relative;
        .current-time {
            height: 45px;
            z-index: 2;
            border-right: 2px solid orangered;
            position: absolute;
        }
        .MuiSlider-root {
            .MuiSlider-thumb {
                .PrivateValueLabel-label-25 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
