$color-base: hsl(10, 7%, 17%);
$color-gold: hsl(47, 90%, 53%);
$primary-color: $color-gold;
$secondary-color: $color-base;
$bg-primary: $color-base;
$bg-secondary: $color-gold;
$video-box-container-height: 320px;
